.search
    height: 50px
    background: #fff
    border-radius: 35px
    width: 50%

.header_div
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px
    span
        color: #000

.header_logo
    height: 60px

.account
    display: flex
    align-items: center
    gap: 20px
    cursor: pointer
    span
        font-weight: 700
        font-size: 28px
        transition: 150ms
        &:hover
            color: #797EF3
    img
        height: 60px
        width: 60px
        border-radius: 100%
        border: 1px solid #fff
