<div [class.show_overlay]="popup.open_popup" class="overlay" (click)="closePopup()">
    <app-user-detail class="user_detail" [class.d_none]="!popup.open_user_details" (click)="stopPropagation($event)"></app-user-detail>
    
    <div class="header_menu" (click)="stopPropagation($event)" [class.d_none]="popup.open_user_details">
        <div class="account_button" (click)="openUserDetails()">
            <span >Profil</span>
        </div>
        <div (click)="logOut()" class="account_button">
            <span>Log Out</span>
        </div>
    </div>

</div>