@use '@angular/material' as mat

$DABubble-solo-primary: mat.define-palette(mat.$indigo-palette)
$DABubble-solo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400)
$DABubble-solo-warn: mat.define-palette(mat.$red-palette)

body
    font-family: "Nunito Sans", sans-serif
    margin: 0
    overflow: hidden
    background: #ECEEFE

.d_none
    display: none !important

.spinner
    width: 30px !important

.mat-mdc-progress-spinner
    --mdc-circular-progress-active-indicator-color: #7e7e7e

.response_error
    z-index: -1
    opacity: 0
    position: absolute
    bottom: 185px
    right: calc(50% - 200px)
    color: white
    font-size: 20px
    font-weight: 700
    box-sizing: border-box
    width: 400px
    background-color: red
    border-radius: 30px
    display: flex
    align-items: center
    justify-content: center
    padding: 15px
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px

.response_success
    width: 400px
    z-index: -1
    opacity: 0
    position: absolute
    bottom: 185px
    right: calc(50% - 200px)
    color: white
    font-size: 20px
    font-weight: 700
    box-sizing: border-box
    background-color: #444DF2
    border-radius: 30px
    display: flex
    align-items: center
    justify-content: center
    padding: 15px
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px

*::-webkit-scrollbar
    width: 8px

*::-webkit-scrollbar-track
    background: #ffffff

*::-webkit-scrollbar-thumb
    background-color: #29ABE2
    border-radius: 10px
    border: 0px solid #ffffff

input::placeholder
    font-size: 18px
    color: #686868

input:focus
    outline: none

input
    font-size: 18px
    color: #000
    box-sizing: border-box
    &:hover
        cursor: pointer
        border: 1px solid #686868

    &:focus
        border: 1px solid #535AF1

    &:focus::placeholder
        color: transparent

.white_button
    transition: 200ms
    font-weight: 700
    font-size: 18px
    color: white
    display: flex
    align-items: center
    justify-content: center
    background-color: #444DF2
    border-radius: 25px
    width: 137px
    height: 49px

    &:hover
        background-color: #797EF3
        cursor: pointer

.blue_button
    transition: 200ms
    box-sizing: border-box
    color: #444DF2
    font-weight: 700
    font-size: 18px
    border: 1px solid #797EF3
    display: flex
    align-items: center
    justify-content: center
    border-radius: 25px
    width: 137px
    height: 49px

    &:hover
        background-color: #444DF2
        cursor: pointer
        color: white


.close
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    background: #fff
    width: 40px
    height: 40px
    border-radius: 100%
    transition: 200ms
    img
        width: 13px
        height: 13px
    &:hover
        background: #ECEEFE
        img
            filter: invert(37%) sepia(39%) saturate(2259%) hue-rotate(216deg) brightness(91%) contrast(107%)

@keyframes slide_in_login_succes
    0%
        opacity: 0
        transform: translateY(150px)

    100%
        opacity: 1
        transform: translateY(0%)

@keyframes slide_in
    0%
        opacity: 0
        transform: translateY(+150%)

    10%
        opacity: 1
        transform: translateY(-10%)

    90%
        opacity: 1
        transform: translateY(-10%)

    100%
        opacity: 0
        transform: translateY(+150%)
